@{
    ViewData["Title"] = "Home Page";
}

<header style="width: 100%; display: flex; align-items: center; padding: 2% 10%;">
    <div style="flex: 1;">
        <p class="lead mb-0" style="font-size: 30px; font-weight:800">Protection on the Road !</p>
        <p class="lead mb-0" style="font-size: 20px; font-weight:400">"Your Peace of Mind, Our Priority"</p>
        <a href="Home/Renew" style="background-color: rebeccapurple;" class="btn btn-primary ml-auto">Renew Now</a>
    </div>
    <div style="flex: 1; display: flex; flex-direction: column; justify-content: flex-end;">
        <img src="img_5terre.jpg" alt="Cinque Terre">
    </div>
</header>

<div class="scroll-container" style="padding: 2% 10%; display: flex; justify-content: space-between;">
    <img src="img_5terre.jpg" alt="Cinque Terre">
    <img src="img_forest.jpg" alt="Forest">
    <img src="img_lights.jpg" alt="Northern Lights">
    <img src="img_mountains.jpg" alt="Mountains">
</div>

<p4>How to Renew ?</p4>

<div style="display: flex; justify-content: space-between; box-sizing: border-box;">
    <div style="flex: 1; flex-direction: column; justify-content: center;">
        <table style="margin: 10px auto 2%; width: 80%;">
            <tr>
                <td style="padding: 0 10px;">
                    <h3>1. Submit Form</h3>
                    <ol>
                        <li>Backup your HTML files</li>
                        <li>Uninstall the old version</li>
                        <li>Install the new version</li>
                        <li>Replace your HTML files</li>
                    </ol>
                </td>
                <td style="padding: 0 10px;">
                    <h3>2. Choose &Aacute; pay</h3>
                    <ol>
                        <li>Backup your HTML files</li>
                        <li>Uninstall the old version</li>
                        <li>Install the new version</li>
                        <li>Replace your HTML files</li>
                    </ol>
                </td>
                <td style="padding: 0 10px;">
                    <h3>3. Relax</h3>
                    <ol>
                        <li>Backup your HTML files</li>
                        <li>Uninstall the old version</li>
                        <li>Install the new version</li>
                        <li>Replace your HTML files</li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    table {
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
    }

        table td {
            border: 1px solid #ccc;
            padding: 10px;
            width: 30%;
            box-sizing: border-box;
        }

    p4 {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2% 10%;
    }

    table td h3 {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    table td ol {
        padding-left: 20px;
    }
</style>