@{
    ViewData["Title"] = "Home Page";
}

<header style="width: 100%; display: flex; align-items: center; padding: 2% 10%;">
    <div style="flex: 1;">
        <p class="lead mb-0" style="font-size: 30px; font-weight:800">Protection on the Road !</p>
        <p class="lead mb-0" style="font-size: 20px; font-weight:400">"Your Peace of Mind, Our Priority"</p>
        <a href="Home/Renew" class="btn btn-primary ml-auto">Renew Now</a>
    </div>
    <img src="image.jpg" alt="Image" class="img-fluid" style="flex: 1; max-width: 150px;">
</header>

<div class="scroll-container" style="padding: 2% 10%; display: flex; justify-content: space-between; flex-wrap: wrap;">
    <img src="img_5terre.jpg" alt="Cinque Terre">
    <img src="img_forest.jpg" alt="Forest">
    <img src="img_lights.jpg" alt="Northern Lights">
    <img src="img_mountains.jpg" alt="Mountains">
</div>